.bannerForAll-container{
    background-image: linear-gradient(to bottom, rgb(47, 47, 47), rgba(45, 45, 45, 0.5)),url(../../Media/banner.jpg);
    background-size: cover;
    background-position: top;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bannerForAll-container h2{
    font-size: 3.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}