.creaditCard div h3{
    font-size: 1.2rem;
    font-weight: 700;
}
.creaditCard input{
    margin-top: 0.4rem;
    margin-right: 1rem;
}
.CardNumber{
    border: 1px solid #ddd;
}
.cardInfo input{
    margin-top: 0.4rem;
    margin-right: 1rem;
    width: 100%;
    padding: 1rem .8rem;
}
.cardInfo label{
    font-size: 1rem;
    font-weight: 500;
    color: #777;
}