.logo{
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-container a{
    text-decoration: none;
    font-size: 1rem;
    margin: 0 1.2rem;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@media only screen and (max-width: 992px) {
    .navbar-container .navbar-nav{
        background: #fff;
        box-shadow: 0 10px 10px 0 rgb(63, 63, 63);
    }
    .navbar-container a{
        color: #000;
        margin: .5rem 1rem;
    }
}