.class-container{
    padding: 5rem 0;
}
#cardClass img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}
#cardClass{
    position: relative;
}
#cardClass .classInnerBox {
    background: rgb(255, 219, 66);
    position: absolute;
    z-index: 2;
    bottom: -2rem;
    transform: translate(10%);
    width: 21rem;
    padding: 1rem 2rem;
    text-align: center;
}
#cardClass .classInnerBox h3 {
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.classInnerBox svg{
    font-size: 1.2rem;
}